{% load static %}
{% block link %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
<link rel="stylesheet" href="{% static 'css/emoji_keyboard.css' %}" />
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<style>
/* message */
.msg {
  position: fixed;
  top: 110px;
  left: 50%;
  padding: 10px 20px;
  z-index:100;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

.msg-success {
  background-color: #28a745;
}

.msg-warning {
  color: #6d5200;
  background-color: #ffc107;
}

.msg-danger {
  background-color: #dc3545;
}

.msg-info {
  background-color: #17a2b8;
}

/*fade*/
.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.slide-in-down {
  transform: translateY(-100%) translateX(-50%);
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #444;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

</style>
{% endblock link %}
{% block content %}
  <div class="navigation-wrap start-header start-style">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto p-2">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"><a class="nav-link" href="{% url 'index' %}#body">Home</a></li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" ><a class="nav-link" href="{% url 'index' %}#about">Let's Start</a></li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" ><a class="nav-link" href="{% url 'index' %}#services">About Us</a></li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" ><a class="nav-link" href="{% url 'index' %}#our-team">Team</a></li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" ><a class="nav-link" href="{% url 'index' %}#contact-us">Contact</a></li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" >
                  <a href="#">   </a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"><a class="nav-link" href="{% url 'creategrp' %}">Create</a></li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"><a class="nav-link" href="{% url 'joingrp' %}">Join</a></li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" ><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                
              {% else %}
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
              {% endif %}
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
  </div>

<figure id="videoContainer" data-fullscreen="false">
  <video id="video" controls controlsList="nodownload nofullscreen noremoteplayback" controls preload="metadata" {% if link %}muted{% endif %}>
    {% if link %}
      <source src="{% static link %}" type="video/mp4">
    {% endif %}
  </video>
  <div id="video-controls" class="controls" data-state="hidden">
    <button id="playpause" type="button" data-state="play">Play/Pause</button>
    <button id="stop" type="button" data-state="stop">Stop</button>
    <div class="progress" style="margin-top:20px; height:10px; opacity: 0.9;">
      <progress id="progress" value="0" min="0">
      <span id="progress-bar"></span>
      </progress>
    </div>
    <button id="mute" type="button" data-state={% if link %}"unmute"{% else %} "mute" {% endif %}>Mute/Unmute</button>
    <button id="volinc" type="button" data-state="volup">Vol+</button>
    <button id="voldec" type="button" data-state="voldown">Vol-</button>
    <button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
    <button id="subtitles" type="button" data-state="subtitles">CC</button>
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">speaker_phone</i>
    </div>
    
    <div class="chat-box">
        <div class="chat-box-header">
        ChatBot
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
        </div>
        <!--chat-log -->
        </div>
        <div class="chat-input">
        <form>
            <div class="input-container">
              <i id="test" class="icon far fa-smile"></i>
              <input type="text" id="chat-input" class="input-field" placeholder="Send a message..."/>
            </div>

            <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>
        </div>
    </div>
  

  </div>
  <div class="msg animate slide-in-down"></div>
</figure>
<div class="content">
  <div class="row">
    <div class="col-4">
      <div id="message"></div>
      {% if link %}
      <div><span class="text-success">Unmute to Enjoy!!</span></div>
      {% else %}
      <button style="display:block;" onclick="document.getElementById('uploadvideo').click()">Select Video</button>
      {% endif %}
      <input id="uploadvideo" type="file" accept="video/*" style="display:none"/>

    </div>
    <div class="col-4">
      <div id="message2"></div>
      <button style="display:block;" onclick="document.getElementById('uploadsubtitles').click()">Select subtitles (.vtt)</button>
      <input id="uploadsubtitles" type="file" style="display:none">
  </div>
  <span class="bg-success p-2 text-white">Code to join Group: <span class="font-weight-bold text-white">{{ grpcode }}</span></span>
  <!--<button onclick="openFullscreen();">Open Video in Fullscreen Mode</button>-->
  
</div>
{% endblock content %}
{% block script %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script src="{% static 'js/emoji_keyboard.js' %}"></script>
<script src="{% static 'js/video-player.js' %}"></script>

<script>  
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var ws_path = ws_scheme + '://' + window.location.host + ":8001/ws/videosyncapp/" + {{ grpcode }} + '/'; // PRODUCTION
  //var ws_path = ws_scheme + '://' + window.location.host + "";
  // console.log("Connecting to " + ws_path);
  var chatSocket = new WebSocket(ws_path);

    chatSocket.onclose = function (e) {
       render('danger',"{{ user.username }}" + " Left :(");
        console.error('Chat socket closed unexpectedly');
    };


var render; 

(function(){

    // data
    var clear;
    var msgDuration = 2000; // 2 seconds
    // cache DOM
    var $msg        = $('.msg');
    /*var $btnSuccess = $('.btn-success');
    var $btnDanger  = $('.btn-danger');
    var $btnWarning = $('.btn-warning');
    var $btnInfo    = $('.btn-info');*/

    // render message
    render = function(type, message="Great"){

        hide();

        switch (type) {
            case 'success':
                $msg.addClass('msg-success active').text(message);
                //alert("success")
                break;
            case 'danger':
                $msg.addClass('msg-danger active').text(message);
                break;
            case 'warning':
                $msg.addClass('msg-warning active').text(message);
                break;
            case 'info':
                $msg.addClass('msg-info active').text(message);
                break;
        }
    }

    function timer(){
        clearTimeout(clear);
        clear = setTimeout(function(){
            hide();
        }, msgDuration)
    }

    function hide(){
        $msg.removeClass('msg-success msg-danger msg-warning msg-info active');
    }

    // bind events
    /*$btnSuccess.on('click', function(){render('success');});
    $btnDanger .on('click', function(){render('danger');});
    $btnWarning.on('click', function(){render('warning');});
    $btnInfo   .on('click', function(){render('info');});*/
    $msg       .on('transitionend', timer);

})();

  video.addEventListener('loadedmetadata', function() {
  this.currentTime = 5;
  }, false);
  (function localFileVideoPlayer() {
    'use strict'
    var URL = window.URL || window.webkitURL
    var displayMessage = function (message, isError) {
      var element = document.querySelector('#message')
      element.innerHTML = message
      element.className = isError ? 'error' : 'info'
    }
    var playSelectedFile = function (event) {
      var file = this.files[0]
      var type = file.type
      var videoNode = document.querySelector('video')
      var canPlay = videoNode.canPlayType(type)
      if (canPlay === '') canPlay = 'no'
      var message = 'Can play type "' + type + '": ' + canPlay
      var isError = canPlay === 'no'
      displayMessage(message, isError)
  
      if (isError) {
        return
      }
  
      var fileURL = URL.createObjectURL(file)
      //videoNode.src = fileURL
      videoNode.innerHTML = '<source src="'+ fileURL +'" type="video/mp4">';
      chatSocket.send(JSON.stringify({
          'type':'Selectedvideo',
      }));
    }



    var uploadsubtitles = function (event) {
        var file = this.files[0]
        var type = file.type
        var videoNode = $("#video")
        var fileURL = URL.createObjectURL(file)
        var subtitlesfile = '<track label="English" kind="subtitles" srclang="en" src="' + fileURL + '" default>';

        videoNode.append(subtitlesfile);
        var element = document.querySelector('#message2')
        element.innerHTML = "<span class='text-success' >Subtitles Uploaded!</span> Change using cc to view"

        vidply();
    }
    var inputNode = document.getElementById('uploadvideo')
    inputNode.addEventListener('change', playSelectedFile, false)
    var inputNode = document.getElementById('uploadsubtitles')
    inputNode.addEventListener('change', uploadsubtitles, false)
  })()
  
  $(function() {
    var INDEX = 0; 
    $("#chat-submit").click(function(e) {
      e.preventDefault();
      var msg = $("#chat-input").val(); 
      if(msg.trim() == ''){
        return false;
      }
      chatSocket.send(JSON.stringify({
          'type':'msg',
          'message': msg,
          'user' : '{{user.username}}',
      }));
      /*generate_message(msg, 'self');
      setTimeout(function() {      
        generate_message(msg, 'user');  
      }, 1000)*/
      
    })

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var type = data['type']
        var user = data['user']
        if(type === "msg"){
          var msg = data['message'];
          var user = data['user'];
          if(user === '{{user.username}}'){
            generate_message(msg, 'self');
          }
          else{
            generate_message(msg, 'user', user);
            render('warning',user + " sent a message :)");
          }
        }
        else if(type === "changedtime" ){
          console.log("changedtime")
          video.play();
          var videotime = data['videotime']
          video.currentTime = videotime;
          render('info',user + " changed Video playing time :( to " + videotime );
        }
        else if(type === "played" ){
          console.log("played")
          video.play();
          render('info',user + " Played the Video :)");
        }
        else if(type === "paused") {
          console.log("paused")
          video.pause();
          render('info',user + " Paused the Video :(");
        }
        else if(type === "latency") {
          var user = data['user']
          if(user == '{{ user.username }}'){
            chatSocket.send(JSON.stringify({
                'type':'latency',
                'user' : '{{user.username}}',
            }));
          }
          render('success',user + " joined :)");
        }
        else if(type === "leftgroup") {
          var user = data['user']
          render('danger',user + " left :(");
        }
        else if(type === "Selectedvideo") {
          var user = data['user']
          render('info',user + " Selected the video.");
        }
    }
    
    function generate_message(msg, type, username="") {
      INDEX++;
      var str="";
      str += "<div id='cm-msg-"+INDEX+"' class=\"chat-msg "+type+"\">";
      str += "          <span class=\"msg-avatar\">";
      str += "            <img src='https://cdn.dribbble.com/users/1041205/screenshots/3636353/dribbble.jpg'>";
      str += "          <\/span>";
      str += "          <div style='color:#FFF'>";
      str += username;
      str += "          <\/div>";
      str += "          <div class=\"cm-msg-text\">";

      str += msg;
      str += "          <\/div>";
      str += "        <\/div>";
      $(".chat-logs").append(str);
      $("#cm-msg-"+INDEX).hide().fadeIn(300);
      if(type == 'self'){
       $("#chat-input").val(''); 
      }    
      $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);    
    }  
  
    $(document).delegate(".chat-btn", "click", function() {
      var value = $(this).attr("chat-value");
      var name = $(this).html();
      $("#chat-input").attr("disabled", false);
      generate_message(name, 'self');
    })
    
    $("#chat-circle").click(function() {    
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
    })
    
    $(".chat-box-toggle").click(function() {
      $("#chat-circle").toggle('scale');
      $(".chat-box").toggle('scale');
    })
    
  })
  function makeurl(tempurl){
    var url = "url('";
    url     += tempurl;
    url     += "')";
    url = url.replace(/&amp;/g, "&");
    return url;
  }

  var style = document.createElement('style');
  style.type = 'text/css';

  {% static "img/logos/playbutton.png" as playUrl %}
  var playurl =  "{{ playUrl }}";
  playurl = makeurl(playurl);

  var stylehtml = '.controls button[data-state="play"] { background-image:';
  stylehtml += playurl
  stylehtml += '; }'; 

  /*$(".controls button[data-state='play']").css("background-image",playurl);*/

  {% static "img/logos/pausebutton.png" as pauseUrl %}
  var pauseUrl =  "{{ pauseUrl }}";
  pauseUrl = makeurl(pauseUrl)
  
  stylehtml += '.controls button[data-state="pause"] { background-image:';
  stylehtml += pauseUrl
  stylehtml += '; }';


  /*$(".controls button[data-state='pause']").css("background-image",pauseUrl);*/

  {% static "img/logos/stopbutton.png" as stopUrl %}
  var stopUrl =  "{{ stopUrl }}";
  stopUrl = makeurl(stopUrl)
  stylehtml += '.controls button[data-state="stop"] { background-image:';
  stylehtml += stopUrl
  stylehtml += '; }';

  {% static "img/logos/volupicon.png" as volupUrl %}
  var volupUrl =  "{{ volupUrl }}";
  volupUrl = makeurl(volupUrl)
  stylehtml += '.controls button[data-state="volup"] { background-image:';
  stylehtml += volupUrl
  stylehtml += '; }';

  {% static "img/logos/voldown.png" as voldown %}
  var voldown =  "{{ voldown }}";
  voldown = makeurl(voldown)
  stylehtml += '.controls button[data-state="voldown"] { background-image:';
  stylehtml += voldown
  stylehtml += '; }';

  {% static "img/logos/unmuteicon.png" as unmuteUrl %}
  var unmuteUrl =  "{{ unmuteUrl }}";
  unmuteUrl = makeurl(unmuteUrl)
  stylehtml += '.controls button[data-state="mute"] { background-image:';
  stylehtml += unmuteUrl
  stylehtml += '; }';

  {% static "img/logos/muteicon.png" as muteUrl %}
  var muteUrl =  "{{ muteUrl }}";
  muteUrl = makeurl(muteUrl)
  stylehtml += '.controls button[data-state="unmute"] { background-image:';
  stylehtml += muteUrl
  stylehtml += '; }';

  {% static "img/logos/fullscreen.png" as fullscreenUrl %}
  var fullscreenUrl =  "{{ fullscreenUrl }}";
  fullscreenUrl = makeurl(fullscreenUrl)
  stylehtml += '.controls button[data-state="go-fullscreen"] { background-image:';
  stylehtml += fullscreenUrl
  stylehtml += '; }';

  {% static "img/logos/fullscreenexit.png" as fullscreenexitUrl %}
  var fullscreenexitUrl =  "{{ fullscreenexitUrl }}";
  fullscreenexitUrl = makeurl(fullscreenexitUrl)
  stylehtml += '.controls button[data-state="cancel-fullscreen"] { background-image:';
  stylehtml += fullscreenexitUrl
  stylehtml += '; }';

  style.innerHTML = stylehtml;
  document.getElementsByTagName('head')[0].appendChild(style);
</script> 
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script>
var emojiKeyboard =new EmojiKeyboard;
emojiKeyboard.instantiate(document.getElementById("test"))
const output = document.getElementById("chat-input");
emojiKeyboard.callback = (emoji, closed) => {
  console.info(emoji, closed)
  output.value += emoji.emoji;
};

</script>
{% endblock script %}